*.iml
.gradle
.idea/*
!/.idea/runConfigurations
.DS_Store
/build
/captures
*/*/build/

projectFilesBackup/
app/.idea
local.properties
app/gradle
gradle.properties
*.hprof
*/build/
base/*/build/
features/*/build/
s.txt
