<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.santander.santanderuk.onboarding">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="allowBackup"
        android:allowBackup="true">
        <activity android:name=".ui.OnboardingWebviewActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <provider
            android:authorities=".OnboardingInitProvider"
            android:name="uk.co.santander.santanderuk.onboarding.OnboardingInitProvider"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>