<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.santander.onboarding">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
    <application
        tools:replace="allowBackup"
        android:allowBackup="true">
        <activity android:name=".ui.OnboardingWebviewActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.OnboardingInitProvider"
            android:name="uk.co.santander.onboarding.OnboardingInitProvider"/>
    </application>
</manifest>